:root {
  --Pink: hsl(322, 100%, 66%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

body {
  font-family: 'Open Sans', sans-serif;

  box-sizing: border-box;
}
.topmost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10vh;
  margin-left: 5vw;
}
.try-it {
  border: 1px solid var(--Pink);
  padding: 5px 25px 1px 25px;
  color: var(--Pink);
  margin-bottom: 0.1rem;
  border-radius: 24px;
  margin-right: 4rem;
}
.try-it:hover {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  cursor: pointer;
}
.heading-paragraph {
  display: flex;

  flex-direction: column;
  margin-top: 30vh;
}
.heading {
  align-self: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
}
.paragraph {
  width: 40%;
  margin-top: 1.5rem;
  color: var(--very-dark-cyan);
  align-self: center;
  text-align: center;
}
.button {
  align-self: center;
  border-radius: 34px;
  padding: 20px 75px 20px 75px;
  font-weight: 600;
  letter-spacing: 0.1vh;
  box-shadow: 5px 4px 5px hsl(180, 29%, 50%, 0.3);
  transition: 5px 4px 5px hsl(180, 29%, 50%, 0.3) 0.16s ease;
  background-color: var(--Pink);
  font-size: 18px;
  color: white;
  border: none;
  margin-top: 40px;
  margin-bottom: 1px;
  cursor: pointer;
}
.button:hover {
  background: #800080;
  box-shadow: none;
}
.screen-image {
  margin-top: 13vh;
  margin-left: 15vw;
}
.screen-image img {
  width: 80%;
  height: 30%;
}
.number-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.number-data .community {
  margin-left: 21vw;
  margin-top: 17vh;
}
.number-data img {
  width: 36px;
}
.community .number {
  font-size: 5rem;
  font-weight: 700;
  margin-left: -0.5vw;
}
.community-text {
  color: hsl(193, 16%, 43%);
  margin-left: -0.5vw;
  margin-top: 1vh;
  font-size: 1.3rem;
}

.number-data .messages {
  margin-right: 23vw;
  margin-top: 16vh;
}
.messages .number-m {
  font-size: 5rem;
  margin-top: 1vh;
  font-weight: 700;
  margin-left: -0.5vw;
}

.messages img {
  fill: currentColor;
}
.messages-text {
  color: hsl(193, 16%, 43%);
  margin-left: 2vw;
  margin-top: 1vh;
  font-size: 1.3rem;
}
.grow-together-background .img1 {
  width: 100%;
  margin-top: 20vh;
  visibility: visible;
  overflow: hidden;
}
.grow-together-background .img2 {
  visibility: hidden;
}
.grow-together-section {
  display: flex;
  flex-direction: row;
  margin-top: -12vw;
  background-color: var(--very-pale-blue);
}

.grow-together-par-head {
  margin-top: 25vh;
  width: 50%;
}
.grow-together-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  margin-left: 10vw;
}
.grow-together-paragraph {
  margin-left: 10vw;
  margin-top: 4vh;
  font-size: 1rem;
  width: 70%;
}
.grow-together-image {
  width: 50%;
}
.grow-together-image img {
  margin-top: 12vh;
  margin-left: 5vw;
  width: 60%;
}
.grow-together-background-lower .img1 {
  width: 100%;
  overflow: hidden;
  visibility: visible;
}
.grow-together-background-lower .img2 {
  visibility: hidden;
}
.flowing-conversation-section {
  display: flex;
  flex-direction: row;
}
.flowing-conversation-section-image {
  width: 50%;
}
.flowing-conversation-section-image img {
  width: 100%;
  margin-top: 25vh;
  margin-left: 7vw;
}
.flowing-conversation-section-heading-paragraph {
  width: 50%;
  margin-top: 45vh;
  margin-left: 15vw;
}
.flowing-conversation-section-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
}
.flowing-conversation-section-paragraph {
  font-size: 1rem;
  margin-top: 4vh;
  width: 85%;
}
.your-users-background .img1 {
  width: 100%;
  visibility: visible;

  margin-top: 15vh;
  overflow: hidden;
}
.your-users-background .img2 {
  margin-top: -15vh;
  visibility: hidden;
}
.your-user-section {
  background-color: var(--very-pale-blue);
  margin-top: -3vw;
  display: flex;
  flex-direction: row;
}
.your-user-heading-paragraph {
  width: 50%;
  margin-top: 25vh;
  margin-left: 10vw;
}
.your-user-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
}
.your-user-paragraph {
  margin-top: 4vh;
  font-size: 1rem;
  width: 82%;
}
.your-user-image {
  width: 50%;
}
.your-user-image img {
  width: 90%;
  height: 90%;
  margin-top: 5vh;
}
.your-users-bottom-background .img1 {
  width: 100%;
  visibility: visible;
  overflow: hidden;
}
.your-users-bottom-background .img2 {
  visibility: hidden;
  overflow: hidden;
}
.bottom-heading-para {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}
.bottom-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  align-self: center;
}
.bottom-button {
  align-self: center;
  border-radius: 34px;
  outline: none;
  padding: 20px 75px 20px 75px;
  font-weight: 600;
  letter-spacing: 0.1vh;
  box-shadow: 5px 4px 5px hsl(180, 29%, 50%, 0.3);
  cursor: pointer;
  background-color: var(--Pink);
  font-size: 18px;
  color: white;
  border: none;
  margin-top: 40px;
  margin-bottom: 1px;
}
.bottom-button:hover {
  background: #800080;
  box-shadow: none;
}
.footer-bg .img1 {
  width: 100%;
  margin-top: 25vh;
  overflow: hidden;
}
.footer-bg .img2 {
  margin-top: -25vh;
  overflow: hidden;
  visibility: hidden;
}
.footer-section {
  display: flex;
  width: 100%;
  background-color: var(--very-dark-cyan);
  margin-top: -4.5vh;
  color: #fff;
  flex-direction: row;
}
.footer-left {
  width: 50%;
  margin-top: 15vh;
  margin-left: 10vw;
}
.footer-right {
  width: 50%;
}
.footer-left-para {
  margin-top: 3vh;
  width: 55%;
}
.footer-span {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  margin-left: 0.5vw;
}
.footer-left-phone {
  margin-top: 3vh;
  margin-left: 0.5vw;
}
.footer-left-phone span {
  margin-left: 1vw;
}
.footer-left-email {
  margin-top: 3vh;
  margin-left: 0.5vw;
}
.footer-left-email span {
  margin-left: 1vw;
}
.footer-right-heading {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 18vh;
  font-size: 1.5rem;
}
.footer-right-para {
  margin-top: 4vh;
  width: 60%;
}
.footer-right-input {
  margin-top: 6vh;
}
.input-text {
  height: 7vh;
  border: none;
  float: left;
  margin: 0;
  width: 55%;
  border-radius: 7px;
}
.btn {
  font-size: 16px;
  background-color: var(--Pink);
  cursor: pointer;
  color: white;
  border: 0;
  height: 7vh;
  width: 25%;
  margin-left: 2vw;
  float: left;
  border-radius: 7px;
}
.btn:hover {
  background: #800080;
}
.three-icons {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.footer-facebook-image {
  width: 32px;
  margin-right: 2vw;
}
.footer-instagram-image {
  width: 32px;
  margin-right: 2vw;
}
.footer-twitter-image {
  width: 32px;
  margin-right: 2vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 375px) {
  .topmost {
    display: block;
    margin-top: 5vh;
    margin-left: 0px;
  }
  .topmost img {
    width: 30%;
    margin-top: 1vh;
    margin-left: 5vw;
  }
  .try-it {
    border: 1px solid var(--Pink);
    width: 25%;
    padding: 5px 0px 5px 20px;
    margin-top: -4vh;
    margin-left: 65vw;
    font-size: 0.8rem;
    margin-bottom: 0rem;
    border-radius: 24px;
  }
  .heading-paragraph {
    margin-top: 20vh;
  }
  .heading {
    text-align: center;
    width: 79%;
    font-size: 1.5rem;
  }
  .paragraph {
    width: 80%;
    font-size: 0.8rem;
    margin-left: 5vw;
  }
  .button {
    padding: 15px 40px 15px 40px;
    letter-spacing: 0vh;
    font-size: 14px;
  }
  .screen-image {
    margin-left: 8vw;
  }
  .screen-image img {
    width: 90%;
  }
  .number-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .community .number {
    font-size: 4rem;
  }
  .community-text {
    font-size: 1rem;
  }

  .number-data .messages {
    margin-right: 0vw;
    margin-left: 21vw;
  }
  .messages .number-m {
    font-size: 4rem;
  }
  .messages-text {
    margin-left: 6vw;
    font-size: 1rem;
  }

  .grow-together-background .img1 {
    margin-top: 0vh;
    visibility: hidden;
  }
  .grow-together-background .img2 {
    margin-top: -102vh;
    margin-left: 0vw;
    width: 99.9%;
    visibility: visible;
    overflow: hidden;
  }
  .grow-together-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: -2vw;
    background-color: var(--very-pale-blue);
  }
  .grow-together-par-head {
    margin-top: 15vh;
    width: 100%;
  }
  .grow-together-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    margin-left: 20vw;
  }
  .grow-together-paragraph {
    margin-left: 5vw;
    margin-top: 3vh;
    margin-bottom: 20vw;
    font-size: 0.8rem;
    text-align: center;
    width: 80%;
  }
  .grow-together-image {
    width: 100%;
  }
  .grow-together-image img {
    margin-top: 12vh;
    margin-left: 8vw;
    width: 80%;
  }
  .grow-together-background-lower .img1 {
    visibility: hidden;
    margin-top: -50vh;
  }
  .grow-together-background-lower .img2 {
    margin-top: -7vh;
    margin-left: -8vw;
    visibility: visible;
  }
  .flowing-conversation-section {
    display: flex;
    flex-direction: column;
  }
  .flowing-conversation-section-image {
    width: 100%;
  }
  .flowing-conversation-section-image img {
    width: 90%;
    margin-top: 25vh;
    margin-left: 7vw;
  }
  .flowing-conversation-section-heading-paragraph {
    width: 100%;
    margin-top: 10vh;
    margin-left: 0vw;
  }
  .flowing-conversation-section-heading {
    font-family: 'Poppins', sans-serif;
    margin-left: 10vw;
    font-size: 1.3rem;
  }
  .flowing-conversation-section-paragraph {
    font-size: 0.8rem;
    margin-top: 2vh;
    margin-left: 5vw;
    text-align: center;
    width: 85%;
  }
  .your-users-background .img1 {
    visibility: hidden;
    margin-left: -1.5vw;
    margin-top: 0vh;
  }
  .your-users-background .img2 {
    width: 100%;
    overflow: hidden;
    margin-top: -7vh;
    visibility: visible;
  }
  .your-user-section {
    background-color: var(--very-pale-blue);
    margin-top: -3vw;
    display: flex;
    flex-direction: column-reverse;
  }
  .your-user-heading-paragraph {
    width: 100%;
    margin-top: 10vh;
    margin-left: 0vw;
  }
  .your-user-heading {
    font-family: 'Poppins', sans-serif;
    margin-left: 30vw;
    font-size: 1.3rem;
  }
  .your-user-paragraph {
    margin-top: 2vh;
    text-align: center;
    margin-left: 5vh;
    font-size: 0.8rem;
    width: 85%;
    margin-bottom: 15vh;
  }
  .your-user-image {
    width: 100%;
  }
  .your-user-image img {
    width: 80%;
    height: 100%;
    margin-left: 5vh;
    margin-top: 5vh;
  }
  .your-users-bottom-background .img1 {
    visibility: hidden;
    margin-top: -50vh;
    overflow: hidden;
  }
  .your-users-bottom-background .img2 {
    width: 100%;
    visibility: visible;
    overflow: hidden;
    margin-top: -3.5vh;
  }
  .bottom-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    align-self: center;
    text-align: center;
  }
  .bottom-button {
    padding: 20px 35px 20px 35px;
    font-weight: 600;
    letter-spacing: 0.1vh;
    font-size: 0.8rem;
    margin-top: 40px;
    margin-bottom: 1px;
  }
  .footer-bg .img1 {
    margin-top: 25vh;
    overflow: hidden;
    visibility: hidden;
  }
  .footer-bg .img2 {
    width: 100%;
    margin-top: -25vh;
    overflow: hidden;
    visibility: visible;
  }
  .footer-section {
    display: flex;
    width: 100%;

    margin-top: -0.9vh;

    flex-direction: column-reverse;
  }
  .footer-left {
    width: 100%;
    margin-top: 15vh;
    margin-left: 10vw;
  }
  .footer-right {
    width: 100%;
    margin-left: 10vw;
  }
  .footer-left-para {
    margin-top: 1vh;
    font-size: 0.8rem;
    width: 85%;
  }
  .footer-span {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-left: 0.5vw;
  }
  .footer-left-phone {
    margin-top: 6vh;
    margin-left: 0.5vw;
  }
  .footer-left-phone span {
    margin-left: 1vw;
  }
  .footer-left-email {
    margin-top: 3vh;
    margin-left: 0.5vw;
  }
  .footer-left-email span {
    margin-left: 1vw;
  }
  .footer-right-heading {
    margin-left: 0vw;
    margin-top: 18vh;
    font-size: 1.5rem;
  }
  .footer-right-para {
    margin-top: 4vh;
    font-size: 0.8rem;
    width: 80%;
  }
  .footer-right-input {
    margin-top: 6vh;
  }
  .input-text {
    float: center;
    margin: 0;
    width: 80%;
  }
  .btn {
    font-size: 0.8rem;
    font-weight: 700;
    width: 40%;
    margin-top: 2vh;
    margin-right: 18vw;
    float: right;
  }

  .three-icons {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .footer-facebook-image {
    width: 32px;
    margin-right: 6vw;
  }
  .footer-instagram-image {
    width: 32px;
    margin-right: 6vw;
  }
  .footer-twitter-image {
    width: 32px;
    margin-right: 6vw;
  }
}
